:root {
    --title-font: 'Azeret Mono', monospace;
    --primary-font: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: var(--title-font);
}
html {
    background-color: #f5f4c1;
    font-family: var(--primary-font);
}

/* style all h2 */

h2 {
    font-size: 40px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
      
}
/* hero section */

.hero {
    display: flex;
    background-image: url(./images/16-9\ Hero\ IMG_0001.jpg);
    background-size: cover;
    height: 500px;
    border-bottom: 3px solid black;

}


/* Navigation Stylesheet */

header nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav h1{
    float: left;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    font-family: var(--title-font);
    flex-wrap: wrap;
    justify-content: end;

}
nav a {
    padding: 10px;
    text-decoration: none;
    color: black;

}
nav li{
    padding: 10px 60px;

}

/* about me section */

.about-me {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
}

.about-me img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0 100px;
}

/* portfolio sections */

.portfolio-containers-large p{
    text-align: center;
    width: auto;
}

.portfolio-containers-large{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  
    

}
.portfolio-containers-large img{
    width:550px;
    height:450px;
    object-fit: cover;
    border-radius: 40px;
    padding: 0 auto;
    opacity: 60%;
}

.portfolio-containers {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;   
    align-items: center;
}

.portfolio-containers p{
    text-align: center;
    max-width: 306px;
}

.portfolio-containers img{
    width:300px;
    height:400px;
    object-fit: cover;
    border-radius: 40px;
    padding: 0 auto;
    opacity: 60%;
}


.image-hover:hover  img{
    opacity: 100%;
}

.portfolio-containers div { 
    height: auto; 
    width: auto;
}

/* contact me */

.contact-me {
    display: flex;
    justify-content: space-evenly;
}

.contact-me li{
    list-style-type: none;  
    padding: 5px 0 5px 0;
}

.contact-me ul {
    margin: 0;
}

.contact-me a{
    text-decoration: none;
    color: black;
}


.contact-me input, .contact-me textarea {
    border: 1px solid;
    display: block;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-me input:focus, .contact-me textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .contact-me button {
    width: 50%;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;

/* Font imports from Google  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Montserrat&display=swap');
  }

  /* responsive web design section */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      position: relative;
    }
  
    .about-me {
      margin: 0 50px;
    }
    nav h1{
      width: 100%;
    }

    .about-me img {
      padding: 0 20px;
    }
}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .hero {
        display: flex;
        justify-content: center;
        background-image: url(./images/16-9\ Hero\ IMG_0001.jpg);
        background-size: cover;
        height: 200px;
        width: auto;
        border-bottom: 3px solid black;
    
    }

    .portfolio-containers-large .portfolio-containers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: none;
    }
    

      .about-me {
        margin: 0 50px;
      }
      nav h1{
        width: 150%;
        font-size: 25px;
      }
  
      .about-me {
          flex-direction: column;
          align-items: center;
      }
  }
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

 

    html{
        font-size: 15px;
    }

    nav li{
        padding: none;
    }
    
    .hero {
        display: flex;
        justify-content: center;
        background-image: url(./images/16-9\ Hero\ IMG_0001.jpg);
        background-size: cover;
        height: 150px;
        width: auto;
        border-bottom: 3px solid black;
    
    }

    .portfolio-containers-large .portfolio-containers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: none;
    }

    .portfolio-containers div{
        padding: none;
    }
    
    .portfolio-containers-large img {
        max-width: 320px;
    }

    .contact-me input, .contact-me textarea {
        border: 1px solid;
        display: block;
        padding: 4px 12px;
        width: 80%;
        margin-bottom: 12px;
        margin-top: 3px;
        border-radius: 10px;
        background-color: rgba(255,255,255, 0.75);
  }

    .contact-me button {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        font-size: 10px;
        border-radius: 10px;

}
}