:root {
    --title-font: 'Azeret Mono', monospace;
    --primary-font: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: var(--title-font);
}
html {
    background-color: #f5f4c1;
}

/* style all h2 */

h2 {
    font-size: 40px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
      
}
/* hero section */

.hero {
    display: flex;
    background-image: url(./images/16-9\ Hero\ IMG_0001.jpg);
    height: 500px;
    background-size: cover;
    border-bottom: 3px solid black;

}


/* Navigation Stylesheet */
header {
    display: flex;    
    flex-wrap: wrap;
}
header nav {
    display: flex;
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: inline-flex;
    font-family: var(--title-font);
    flex-wrap: wrap;

}
nav a {
    padding: 10px;
    text-decoration: none;
    color: black;

}
nav li{
    padding: 10px 60px;

}

/* portfolio sections */
.portfolio-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   

}

.portfolio-containers img{
    width:300px;
    height:400px;
    object-fit: cover;
    border-radius: 40px;
    border: 3px solid saddlebrown;
    padding: 0 auto;
}

.portfolio-containers div { 
    height: auto; 
    width: auto;
    padding: 75px;  
}

/* contact me */

.contact-me ul li{
    list-style-type: none;  
}

.contact-me a{
    text-decoration: none;
    color: black;
    

}

/* Font imports from Google  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Montserrat&display=swap');
